.navbar-brand {
    background: url(../img/crete_logo_1.png) no-repeat;
    height: 35px;
}

.jumbotron {
    background: #e5e5e5 none repeat scroll 0 0;
}
#wrap {
    background: #fff none repeat scroll 0 0;
}

footer {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 3em;
    padding-top: 2em;
}

.navbar-inverse {   
    background: #F8F8F8;
}


a:link {color: #333;} 
