.navbar-brand {
    background: url(../img/crete_logo_1.png) no-repeat;
    height: 35px;
}

.jumbotron {
    background: #e5e5e5 none repeat scroll 0 0;
}
#wrap {
    background: #fff none repeat scroll 0 0;
}

footer {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 3em;
    padding-top: 2em;
}

.navbar-inverse {   
    background: #F8F8F8;
}

.navbar-inverse .navbar-nav>li>a {
 color:#000;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
 background-color:#D8D8D8;
 color:#000
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
 color:#000;
 background-color:transparent
}

a:link {color: #000;} 
