.navbar-brand {
    width: 40px;
    height: 35px;
    background: transparent  url(../img/senselab_3.jpg) no-repeat;
}

#wrap {
    margin: 5px 5px;
}

.navbar-inverse {
    background: #000000;
}

~                                                                                                   
~                                                                                                   
~                                                                                                   
~                                                                                                   
~                      
