{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
      <title>{% block title %}Crete-GIS{% endblock %}</title>

{% endblock %}
{% block extra_tab %}
<li id="nav_webgis">
<a href="{% url "new_map" %}">{% trans "WebGIS" %}</a>
</li>

{% endblock %}

~                                                                                                    
~                                                                                                    
~                           
